* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", "Times New Roman", Arial, Helvetica,
    sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #f3f5f7;
  width: 1980px;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.container {
  position: relative;
  width: 1200px;
  margin: auto;
  background-color: transparent;
}
.flex {
  display: flex;
}

/* header */
.header {
  margin: 29px auto;
  height: 42px;
  line-height: 42px;
}
.logo {
  width: 390px;
}
.logo img {
  float: right;
}
.menu {
  margin-right: 300px;
  font-size: 18px;
  text-align: center;
}
.menu li {
  margin-left: 65px;
  padding: 0 8px;
}
.menu li a {
  font-size: 18px;
  color: #050505;
}
.menu li a:hover {
  color: #00a4ff;
}
.menu .active {
  border-bottom: 2px solid #00a4ff;
}
.search-bar input[type="text"] {
  box-sizing: border-box;
  width: 360px;
  height: 42px;
  border: 1px solid #00a4ff;
  border-right: 0;
  background-color: #f3f5f7;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}
.search-bar input[type="button"] {
  margin-right: 32px;
  float: right;
  width: 50px;
  height: 42px;
  border: 0;
  background-image: url("../img/fa-search.png") no-repeat;
}
.user {
  font-size: 14px;
  flood-color: #666;
}
.user-center {
  margin-right: 32px;
}
.user-center:hover {
  cursor: pointer;
}
.alert img {
  position: relative;
  bottom: 50%;
  margin-top: 34px;
  opacity: 0.6;
}
.profile-img {
  margin-left: 30px;
  margin-right: 6px;
}
.profile-img img {
  position: relative;
  bottom: 50%;
  margin-top: 25px;
  border-radius: 50%;
}

/* banner */
.homepage-banner {
  height: 420px;
  background-color: #1c036c;
}
.homepage-banner .container {
  position: relative;
  background: url("../img/banner.jpg") no-repeat center center;
  height: 420px;
}
.subnav {
  float: left;
  box-sizing: border-box;
  padding: 0 20px;
  width: 190px;
  height: 420px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
}
.subnav li {
  line-height: 44px;
}
.subnav li a {
  cursor: pointer;
  color: #fff;
}
.subnav li a:hover {
  color: #00a4ff;
}
.subnav li:nth-child(1) {
  padding-top: 13px;
}
.subnav .gt-sign {
  float: right;
}
.my-course-list {
  float: right;
  margin-top: 50px;
  height: 300px;
  background-color: #fff;
}
.my-course-list h2 {
  width: 228px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  background-color: #9bceea;
  color: #fff;
}
.my-course-list ul {
  padding: 20px 18px 8px 18px;
}
.my-course-list li {
  display: block;
  height: 48px;
  border-bottom: 2px solid #efefef;
  margin-bottom: 15px;
}
.my-course-list li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.my-course-list li h4 {
  font-size: 16px;
  color: #5a5a5a;
}
.my-course-list li p {
  font-size: 14px;
  color: #ababab;
}
.all-course {
  width: 198px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #00a4ff;
  margin-left: 18px;
  color: #00a4ff;
}
.promo-nav {
  position: absolute;
  bottom: 45px;
  left: 50%;
  margin-left: -140px;
  width: 180px;
  height: 0px;
  border-radius: 7px;
}
.promo-nav li {
  float: left;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 8px;
  border-bottom: 0;
}
.promo-nav .highlighted {
  width: 20px;
  border-radius: 12px;
  background-color: #fff;
}
/* begin of product suggestion */
.product-suggestion {
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 10px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
  line-height: 60px;
}
.product-suggestion h3 {
  float: left;
  font-size: 16px;
  color: #00a4ff;
  margin-right: 30px;
}
.product-suggestion ul {
  float: left;
}
.product-suggestion ul li {
  float: left;
}
.product-suggestion ul li a {
  padding: 0 30px;
  font-size: 16px;
  color: #050505;
  border-left: 1px solid #ccc;
}
.product-suggestion .mod {
  float: right;
  font-size: 14px;
  color: #00a4ff;
}
/* end of product suggestion */
/* begin of core product suggestion */
.core-product-suggestion {
  margin-top: 30px;
}
.core-product-suggestion-hd {
  position: relative;
}
.core-product-suggestion-hd h3 {
  float: left;
  font-size: 20px;
  color: #494949;
}
.core-product-suggestion-hd a {
  float: right;
  font-size: 12px;
  color: #a5a5a5;
  margin: 10px 30px 0 0;
}
.core-product-suggestion-bd ul {
  margin-top: 30px;
  float: left;
}
.core-product-suggestion-bd ul li {
  position: relative;
  float: left;
  width: 228px;
  height: 270px;
  background-color: #fff;
  margin: 0 15px 15px 0;
}
.core-product-suggestion .core-product-suggestion-bd ul li:nth-child(5n) {
  margin-right: 0;
}
.core-product-suggestion-bd ul li > img,
.core-product-suggestion-bd ul li a > img {
  width: 100%;
}
.core-product-suggestion-bd .hot-pick {
  position: absolute;
  top: 5px;
  right: -4px;
  width: 40px;
  height: 24px;
}
.core-product-suggestion-bd ul li h4 {
  margin: 20px;
  font-size: 14px;
  color: #050505;
  font-weight: 400;
}
.core-product-suggestion-bd ul li .info {
  margin: 0 20px;
  font-size: 12px;
  color: #999;
}
.core-product-suggestion-bd ul li .info span {
  color: #ff2c2d;
}
/* end of core product suggestion */
/* begin of entry level programming */
.entry-level {
  margin-top: 38px;
}
.hot-search {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: calc(-338px / 2);
  width: 420px;
}
.hot-search li {
  margin-right: 72px;
}
.hot-search li:last-child {
  margin-right: 0;
}
.hot-search li a {
  float: left;
  width: 32px;
  margin-right: 72px;
}
.hot-search .selected {
  color: #00a4ff;
}
.entry-level-product {
  margin-top: 22px;
}
.entry-level-production-left {
  float: left;
}
.entry-level-production-right {
  float: right;
}
.core-product-suggestion-bd ul {
  margin-top: 23px;
}
.entry-level-production-right .core-product-suggestion-bd ul li:nth-child(4) {
  margin-right: 0;
}
.general-suggestion .core-product-suggestion-bd ul li:nth-child(5n) {
  margin-right: 0;
}
/* end of entry level programming */
/* begin of suggested instructor */
.core-product-suggestion-bd .suggested-instructor {
  position: relative;
  background: url("../img/2015122414122700.png") no-repeat center center;
  height: 320px;
  margin-right: 11px;
}
.people-studied {
  position: absolute;
  top: 8px;
  right: 3px;
  z-index: 1;
}
.instructor-intro {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 18px 28px 20px 25px;
  width: 225px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
.selected .instructor-intro {
  vertical-align: bottom;
  height: 100%;
}
.instructor {
  line-height: 24px;
}
.instructor-name {
  float: left;
  font-size: 18px;
  font-weight: 600;
}
.instructor-focus {
  float: left;
  margin-left: 12px;
  font-size: 14px;
}
.instructor-title {
  font-size: 14px;
}
.instructor-intro p {
  margin-top: 14px;
  font-size: 12px;
}
/* end of suggested instructor */
/* begin of career type list */
.career-type-list {
  position: fixed;
  top: 50%;
  left: 175px;
  width: 185px;
  height: 430px;
  background-color: #fff;
  font-size: 14px;
}
.career-type-list ul {
  padding: 15px 25px;
}
.career-type-list li {
  height: 36px;
  line-height: 36px;
}
.career-type-list a {
  color: #000;
}
.core-product-suggestion-bd .promo-course {
  background: url("../img/图层149.jpg") no-repeat;
  background-size: auto;
  width: 464px;
  height: 320px;
}
/* end of career type list */
/* begin of footer */
.footer {
  height: 415px;
  background-color: #fff;
  margin-top: 15px;
}
.footer .container {
  padding-top: 20px;
}
.copyright {
  float: left;
}
.copyright p {
  font-size: 12px;
  color: #666;
  margin: 20px 0 15px 0;
}
.copyright .app {
  display: inline-block;
  width: 118px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #00a4ff;
  font-style: 16px;
  color: #00a4ff;
}
.links {
  float: right;
}
.links dl {
  float: left;
  margin-left: 100px;
}
.links dl dt {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
.links dl dd a {
  font-size: 12px;
  color: #333;
}
/* end of footer */

/* begin of career planning */
/* begin of banner */
.career-planning-banner {
  background: url("../img/career-planning-banner.jpg") no-repeat;
  background-size: cover;
  height: 370px;
}
/* end of banner */
/* begin of career path */
.career-path ul li a {
  padding: 0 20px;
  border-right: 1px solid #ccc;
  border-left: 0;
}
.career-path ul li:first-child a {
  padding-left: 10px;
}
.career-path ul li:last-child a {
  border-right: 0;
  padding-right: 0;
}
.career-path .selected {
  color: #00a4ff;
  font-weight: 600;
}
/* end of career path */
/* begin of detailed career path */
.career-path-detail {
  margin: 10px 0 40px 0;
}
.career-level {
  margin-bottom: 10px;
  padding: 43px 0 0 0;
  background-color: #fff;
  min-height: 100px;
}
.career-level > div {
  float: left;
}
.engineer-level {
  margin: 0 12px 0 28px;
  text-align: center;
}
.engineer-title {
  margin: 34px 0 39px 0;
  color: #ba7ce1;
  font-size: 20px;
  font-weight: 600;
}
.engineer-divider {
  position: relative;
}
.engineer-divider img {
  position: absolute;
  top: 8px;
}
.career-desc {
  margin: 0 52px 0 60px;
  width: 340px;
}
.career-desc-hd h3 {
  margin-bottom: 3px;
  line-height: 36px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.career-desc-bd .bd-desc {
  font-size: 14px;
  color: #666;
}
.career-desc-bd .bd-desc p {
  margin-bottom: 35px;
}
.current-price {
  color: #000;
  margin-right: 21px;
}
.current-amount {
  color: #ff2d2d;
}
.current-amount-in-number {
  font-size: 19px;
}
.original-price {
  color: #999;
  text-decoration: line-through;
}
.original-amount {
  color: #ff7c2d;
}
.career-path-detail .core-product-suggestion-bd {
  margin: -20px 0 45px 0;
}
.career-path-detail .core-product-suggestion-bd li {
  box-shadow: 3px 3px 0.5em rgb(0 0 0 / 30%);
}
/* end of detailed career path */
/* end of career planning */

/* begin of single course */
.course-banner {
  background: url("../img/course-banner.png") no-repeat;
  background-size: cover;
  color: #f3f5f7;
  margin-bottom: 30px;
}
.course-banner .container {
  box-sizing: border-box;
  padding: 20px 102px 28px 15px;
}
.course-desc {
  float: left;
}
.course-video {
  float: right;
  width: 270px;
}
.course-video video {
  width: 100%;
  height: 156px;
  margin-bottom: 16px;
}
.video-info img {
  height: 14px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.video-info {
  font-size: 14px;
  font-style: italic;
}
.video-save {
  width: 160px;
  border-right: 1px solid #dadada;
}
.video-save img {
  margin: 0 3px 0 18px;
}
.share-course-video img {
  margin-right: 10px;
}
.wechat-icon {
  margin-left: 14px;
}
.course-nav {
  margin-bottom: 10px;
}
.course-nav li {
  margin-right: 5px;
}
.course-nav li,
a {
  color: #837e8a;
  font-size: 14px;
}
.course-nav li:first-child a {
  color: #ebe9ed;
}
.course-info-hd {
  margin-bottom: 12px;
}
.cource-price {
  margin-bottom: 52px;
}
.special-price {
  color: #ca50f8;
  margin-right: 12px;
}
.special-price-amount {
  font-weight: 600;
}
.common-question-hd {
  margin-bottom: 15px;
  color: #000;
  font-size: 16px;
}
.course-action {
  margin-right: 32px;
  background-color: #00a4ff;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.course-desc-detail li {
  padding: 0 30px 0 36px;
  border-right: 1px solid #999;
}
.course-desc-detail li:last-child {
  border-right: 0;
}
.course-desc-detail li h5 {
  font-weight: 400;
  margin-bottom: 5px;
}
.course-detail {
  font-size: 16px;
  margin-bottom: 20px;
}
.course-detail li {
  margin: 0 25px 0 15px;
}
.course-body .selected {
  color: #00a4ff;
  font-weight: 600;
}
.course-detail-desc {
  width: 955px;
  margin-bottom: 10px;
  background-color: #fff;
}
.course-detail-desc-hd {
  box-sizing: border-box;
  width: 140px;
  padding: 35px 30px 0 35px;
}
.course-detail-desc-hd h3 {
  font-size: 18px;
}
.course-detail-desc-bd {
  position: relative;
  box-sizing: border-box;
  width: 815px;
  padding: 40px 35px 32px 0;
  color: #666;
  font-size: 14px;
}
.course-brief-more,
.course-brief-less {
  position: absolute;
  bottom: 30px;
  right: 40px;
  color: #00a4ff;
}
.instroctor-profile {
  background: url("../img/2015122414122700.png") no-repeat 20% 20%;
  background-size: 110%;
  margin-right: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.instructor-desc {
  width: 630px;
}
.taught-by {
  font-weight: 600;
}
.instructor-nanme {
  font-size: 18px;
}
.instructor-experience span {
  color: #5f1898;
  margin-right: 1px;
}
.arrowhead {
  color: #1fafff;
}
.instructor-experience-details {
  margin: 18px 0 38px;
}
.course-detail-desc-bd li {
  margin-bottom: 20px;
}
.course-detail-requirement-hd {
  margin-right: 25px;
  font-weight: 600;
}
.common-question-bd {
  margin-bottom: 22px;
  padding-left: 15px;
}
.common-question-bd hr {
  margin-top: 22px;
}
.comment-detail {
  margin-bottom: 38px;
}
.comment-box {
  width: 228px;
}
.comment-box > div {
  position: relative;
}
.comment-bd {
  padding: 20px 18px 0 17px;
  background-color: #fff;
}
.comment-hd {
  margin: 0 0 20px 18px;
}
.comment-bd li {
  padding: 20px 0 16px 0;
  border-bottom: 1px solid #d7d7d7;
}
.comment-bd li:first-child {
  padding-top: 0;
}
.comment-bd li:last-child {
  border-bottom: 0;
}
.review {
  margin: 24px 10px 0;
  padding-bottom: 14px;
}
.to-review {
  color: #7db4d2;
}
.comment-bd {
  color: #666;
  font-size: 14px;
}
.comment-detail-hd {
  margin-bottom: 15px;
  position: relative;
}
.comment-profile-pic img {
  position: absolute;
  border-radius: 50%;
  margin-right: 50px;
}
.comment-uername,
.comment-user-ranking {
  margin-left: 50px;
}
.comment-user-ranking img {
  margin-right: -5px;
}
.comment-date {
  font-size: 12px;
  line-height: 20px;
}
.student {
  text-align: center;
  margin: 0 10px 20px 0;
}
.student-profile img {
  border-radius: 50%;
}
.student-name {
  color: #07c;
}
.studied-student li {
  padding: 0 0 0 0;
  border-bottom: 0;
  font-size: 12px;
}
.studied-student li:nth-child(4n) > .student {
  margin-right: 0;
}
/* end of single course */
/* begin of course list */
.course-list {
  font-size: 14px;
  color: #000;
}
.course-tagegory {
  background-color: #fff;
  padding: 25px 0 10px;
  margin-bottom: 25px;
}
.course-tagegory .container ul li {
  margin-top: 25px;
  padding-bottom: 19px;
  border-bottom: 1px solid #d7d7d7;
}
.course-tagegory .container ul li:first-child {
  margin-top: 0;
}
.course-tagegory .container ul li:last-child {
  border-bottom: 0;
}
.top-pick {
  width: 228px;
}
.course-list-main {
  position: relative;
  width: 972px;
}
.course-list-subnav {
  position: relative;
  align-items: center;
}
.course-list-subnav dt {
  color: #000;
}
.course-list-subnav dd a {
  color: #666;
}
.course-list-subnav dt,
dd {
  margin-right: 25px;
  font-size: 14px;
}
.course-list-subnav .selected {
  color: #00a4ff;
}
.course-list-subnav .all {
  width: 40px;
  height: 20px;
  background-color: #00a4ff;
  color: #fff;
  text-align: center;
}
.course-list-subnav .more {
  position: absolute;
  right: 0;
}
.top-pick-item {
  margin-bottom: 16px;
}
.top-pick-item dd {
  padding: 3px 21px 18px;
  color: #00a4ff;
  font-weight: 600;
}
.top-hit {
  background: url("../img/图层161.png");
}
.top-pick-item dt:first-of-type,
.top-pick-item dt:last-of-type {
  border-bottom: 0;
}
.top-pick-item dt:first-of-type {
  padding: 16px 22px 20px;
  color: #fff;
  line-height: 18px;
  font-size: 12px;
}
.top-pick-item dt {
  padding: 22px 24px 20px 20px;
  border-bottom: 1px solid #d7d7d7;
  background-color: #fff;
}
.top-pick-item dt h4 {
  font-weight: 400;
}
.course-list-main-hd-pagination {
  position: absolute;
  right: 15px;
  font-size: 14px;
}
.course-list-main-hd-pagination,
.course-list-main-hd-pagination a {
  color: #00a4ff;
}
.course-list-main-hd-pagination .deactivate {
  color: #837e8a;
}
.center-align {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.suggested-product {
  width: 228px;
  height: 270px;
  background-color: #fff;
}
.suggested-product img {
  width: 100%;
}
.suggested-product h4 {
  margin: 25px 20px 20px 24px;
  font-weight: 400;
  font-size: 14px;
  color: #050505;
}
.suggested-product .info {
  margin: 0 20px 25px 24px;
  font-size: 12px;
}
.suggested-product-box-shadow {
  box-shadow: 3px 3px 0.5em rgb(0 0 0 / 30%);
}
.course-list-main-bd li {
  margin-right: 15px;
  margin-bottom: 12px;
}
.pagination {
  margin: 36px 0 10px;
}
.pagination ol {
  justify-content: center;
}
.pagination li {
  margin-right: 25px;
}
.pagination-number {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
}
.pagination .page-selected {
  background-color: #00a4ff;
  color: #fff;
}
/* end of course list */
