<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>course-item</title>
    <link rel="stylesheet" href="course-item.css" />
  </head>
  <body>
    <!-- 单独的 课程 案例 -->
    <div class="single-demo">
      <div class="course-item">
        <a href="#">
          <!-- 课程照片 -->
          <div class="course-item-img">
            <img src="../img/course.png" alt="" />
          </div>
          <div class="course-item-desc">
            <!-- 课程名称 -->
            <h4 class="course-item-desc-hd">
              Think PHP 5.0 博客系统实战项目演练
            </h4>
            <!-- 课程描述，等级 以及 多少人 学习 -->
            <div class="course-item-desc-bd flex">
              <div class="course-item-level">高级</div>
              <div class="course-item-studied-desc">· 1120人正在学习</div>
            </div>
            <!-- hot 或者是 new 的小banner -->
          </div>
          <div class="course-item-flag"></div>
        </a>
      </div>
    </div>

    <!-- 一行4个demo -->
    <ul class="four-per-row clearfix">
      <li>
        <div class="course-item course-item-shadow">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item course-item-shadow">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
    </ul>

    <ul class="five-per-row clearfix">
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="course-item">
          <a href="#">
            <!-- 课程照片 -->
            <div class="course-item-img">
              <img src="../img/course.png" alt="" />
            </div>
            <div class="course-item-desc">
              <!-- 课程名称 -->
              <h4 class="course-item-desc-hd">
                Think PHP 5.0 博客系统实战项目演练
              </h4>
              <!-- 课程描述，等级 以及 多少人 学习 -->
              <div class="course-item-desc-bd flex">
                <div class="course-item-level">高级</div>
                <div class="course-item-studied-desc">· 1120人正在学习</div>
              </div>
              <!-- hot 或者是 new 的小banner -->
            </div>
            <div class="course-item-flag"></div>
          </a>
        </div>
      </li>
    </ul>
  </body>
</html>
