body {
  margin: 0;
  width: 1980px;
  background-color: #f3f5f7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

input {
  outline: none;
}

li:hover a,
a:hover,
.card a:hover {
  color: #00a4ff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #050505;
}

dd,
dt,
dl,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  text-align: center;
  border: 1px solid #00a4ff;
  font-size: 16px;
  color: #00a4ff;
  cursor: pointer;
  background-color: #fff;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.container {
  width: 1200px;
  margin: auto;
  background-color: transparent;
}
.flex-center {
  align-items: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.card {
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 10px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 3px 3px rgb(0 0 0 / 10%);
  line-height: 60px;
}
.card dt,
.card li {
  font-size: 16px;
  color: #00a4ff;
  margin-right: 30px;
  font-weight: 600;
}
.card a {
  padding: 0 30px;
  font-size: 16px;
  color: #050505;
  border-left: 1px solid #ccc;
}
.card a .selected {
  color: #00a4ff;
  font-weight: 600;
}
